
	table{border:4px dashed orange; background-color:red;}
	
	tr{font-size:15px; font-style:bold; background-color:yellow;border:5px groove green; margin:10px padding:10px;}
	
	td{font-size:15px; font-style:bold; background-color:yellow;border:5px groove green; margin:10px padding:10px;}
