	
	p{font-size:100px; font-family:Matura MT Script Capitals;font-style:bold;
	  text-decoration:underline;text-transform:capitalize; letter-spacing:15px;word-spacing:80px;
	  color:orange;text-shadow:15px 15px 15px red; background-color:yellow;
	 }
	 
	body{ 
	background-image:url(581527922.jpg);
	background-attachment:fixed;
	 }
